div.highlight pre {
    background-color: #fbfff4;
}

.highlight .hll {
    background-color: #ddddff;
}

dl.object > dt, dl.data > dt, dl.function > dt, dl.method > dt, dl.attribute > dt, dl.class > dt, dl.exception > dt, dl.classmethod > dt, dl.staticmethod > dt {
    display: block;
}